* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Roboto', sans-serif;
  --ff-h1: 'Bungee Hairline';
  --input-text-color: #7C7C8A;
  --button-text-color: #FFFFFF;
  --button-hover-text-color: #065E7C;
  --body-text-color: #E1E1E6;

  --bg-color: #000000;
  --bg-button: #065E7C;
  --bg-button-hover: #FFFFFF;
  --bg-odd: rgba(6, 22, 27, 0.5);
  --bg-even: rgba(6, 24, 28, 1);
  --border: #4A808C;
}

body {
  font-size: 1.6rem;
  color: var(--body-text-color);
  background-color: var(--bg-color);
}

body * {
  font-family: var(--ff-primary);
}

h1 {
  font-family: var(--ff-h1);
  font-size: 8rem;
  display: flex;
  justify-content: center;

  margin-top: 1rem;
}

h2 {
  font-size: 3.2rem;
  font-weight: 700;
}

#app {
  display: grid;
  gap: 1rem;
  padding: 9rem 12rem;
  margin: 0 auto;
}

.user {
  display: flex; 
  align-items: center;
  gap: 1.4rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 3.2rem;

  margin-top: 2rem;
  width: 14.8rem;
  height: 4rem;
  position: relative;
  left: 110rem;

  background: var(--bg-button);
  border: none;
  border-radius: 0.5rem;

  color: var(--button-text-color);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  color: var(--button-hover-text-color);
  background-color: var(--bg-button-hover);
}

#app .post {
  display: grid;
  gap: 1.2rem;
  padding: 1.4rem;

  border: var(--border) 1px solid;
  border-radius: 0.4rem;
}

#app .post p {
  font-size: 2.2rem;
  font-weight: 400;
}

#app .post h2::first-letter, #app .post p::first-letter {
  text-transform: capitalize;
}

#app .post:nth-child(even) {
  background: var(--bg-even);
}

#app .post:nth-child(odd) {
  background: var(--bg-odd);
}

.comments {
  display: grid;
  gap: 0.8rem;
  margin-top: 3rem;
  
  animation: topdown 0.5s;
}

#app .post .comments p {
  font-size: 1.8rem;

  border-bottom: var(--border) 2px solid;
  border-right: var(--border) 2px solid;
  border-radius: 0.3rem;
  
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.collapse {
  display: none;
  opacity: 0;
}

@keyframes topdown {
  0% {
    opacity: 1;
    transform:  translateY(-20rem) scale(0);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 320px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  #app {
    padding: 1rem;
  }

  button {
    left: 0rem;
  }

  #app .post p {
    font-size: 1.8rem;
  }

  #app .post .comments p {
    font-size: 1.4rem;
  }
}

@media (min-width: 375px ) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  #app {
    padding: 1.5rem;
  }

  button {
    left: 17rem;
  }
}

@media (min-width: 425px ) {
  button {
    left: 22rem;
  }
}

@media (min-width: 480px ) {
  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  #app {
    padding: 2.5rem;
  }

  button {
    left: 26rem;
  }
}

@media (min-width: 520px ) {
  button {
    left: 30rem;
  }
}

@media (min-width: 580px ) {
  h1 {
    font-size: 8rem;
  }

  button {
    left: 36rem;
  }
}

@media (min-width: 620px ) {
  button {
    left: 40rem;
  }
}

@media (min-width: 660px ) {
  h2 {
    font-size: 3.2rem;
  }

  #app {
    padding: 0rem 4rem;
  }

  button {
    left: 0rem;
  }

  #app .post p {
    font-size: 2.2rem;
  }

  #app .post .comments p {
    font-size: 1.8rem;
  }

  button {
    left: 40rem;
  }
}

@media (min-width: 700px ) {
  button {
    left: 44rem;
  }
}

@media (min-width: 768px ) {
  button {
    left: 52rem;
  }
}

@media (min-width: 810px ) {
  button {
    left: 56rem;
  }
}

@media (min-width: 860px ) {
  button {
    left: 61rem;
  }
}

@media (min-width: 910px ) {
  button {
    left: 66rem;
  }
}

@media (min-width: 960px ) {
  button {
    left: 71rem;
  }
}

@media (min-width: 1024px ) {
  #app {
    padding: 0rem 6rem;
  }
  
  button {
    left: 73rem;
  }
}

@media (min-width: 1100px ) {
  button {
    left: 80rem;
  }
}

@media (min-width: 1180px ) {
  button {
    left: 88rem;
  }
}

@media (min-width: 1250px ) {
  button {
    left: 96rem;
  }
}

@media (min-width: 1350px ) {
  #app {
    padding: 9rem 12rem;
  }

  button {
    left: 94rem;
  }
}

@media (min-width: 1440px ) {
  button {
    left: 105rem;
  }
}